body {
    background-color: mistyrose !important;
}

hr {
    background-color: rgb(217, 64, 202)!important;
    height: 10px !important;
    max-width: 75% !important;
    margin: auto !important;
}



.container{
    text-align: center;
    font-family: 'Bungee' ,cursive !important;

}

.enterTaskDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bungee';
    font-size: 18px;

}

.removalButton {
    background-color: rgb(236, 107, 191);
    font-family: 'Bungee', cursive !important;
    border: none;
}

.addButton {
    background-color: rgb(236, 107, 191) !important;
    margin-left: 5px;
    border-color: rgb(236, 107, 191);
    border-radius: 10px;
    border-style: solid;

    
}

input[type='text']{
    font-family: 'Lilita One', cursive;
    font-size: larger;
    font-weight: bolder;
}




.divTask {
    background-color: rgb(236, 107, 191) !important;
    flex-direction: column !important;
    margin-bottom: 12px !important;
    margin-top: 12px;
    min-height: 50px;
    width: 35%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(236, 107, 191);
}

.taskLabel {
    font-family: 'Lilita One', cursive;
    font-size: larger;
    font-weight: bolder;
    border-style: solid;
    border-color: rgb(236, 107, 191);
    border-radius: 10px;
}

/* "col m-3 w-50 h-10" */